<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PerpetuumSoft.Framework" publicKeyToken="8a6ae0a3e67829b5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.1.1.18" newVersion="7.1.1.18"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PerpetuumSoft.Reporting" publicKeyToken="8a6ae0a3e67829b5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.1.1.18" newVersion="7.1.1.18"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
